html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./images/kazuend-2KXEb_8G5vo-unsplash.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  position: relative;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.main-container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 340px;
  height: 640px;
  max-width: 360px;
  max-height: 660px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.header h2 {
  padding: 1.5em 1.8em;
  margin-top: 10px;
  font-size: 1.3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 3px;
  outline: none;
  border: 1px solid #f5f0e9;
  padding: 0.8em;
  width: 305px;
  height: 40px;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: white;
}

input:hover {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem;
  backdrop-filter: blur(12rem);
}

input::placeholder {
  color: white;
}

button {
  margin-top: 5px;
  padding: 5px 0;
  width: 305px;
  height: 32px;
  background: rgba(201, 212, 229, 0.8);
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.footer {
  margin-top: 3rem;
  letter-spacing: 0.1em;
  line-height: 2rem;
  text-align: center;
}

#sign-up-btn {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url("./images/massimiliano-morosinotto-3i5PHVp1Fkw-unsplash.jpg");
  }

  .main-container {
    width: 60vw;
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("./images/brandon-frie-H_mYBHcLEbk-unsplash.jpg");
  }

  .main-container {
    width: 55vw;
    height: 70vh;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url("./images/michael-martinelli-mFbrMEVKCkc-unsplash.jpg");
  }

  .main-container {
    width: 360px;
    height: 640px;
  }

  .footer {
    text-align: center;
    line-height: normal;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    background-image: url("./images/vincent-ledvina-L1rOXHx5HAo-unsplash.jpg");
  }

  .main-container {
    width: 380px;
    height: 640px;
    max-width: 400px;
  }

  input {
    width: 320px;
    height: 45px;
    font-size: 14px;
  }

  button {
    width: 320px;
    height: 35px;
  }

  .footer {
    text-align: center;
    line-height: normal;
  }
}
